{% extends 'base.twig' %}

{% block body %}
<main class="page-content">
    <section class="promo">
        <div class="container">
            <h1 class="promo__title">What is Lorem Ipsum?</h1>
            <p class="promo__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a class="button promo__button" href="#">Button</a>
        </div>
    </section>
    <section class="advantages">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="container advantages__list">
            <li class="advantages__item">Contrary to popular belief, Lorem <br>Ipsum is not simply random text</li>
            <li class="advantages__item">Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit</li>
            <li class="advantages__item">The standard chunk of Lorem Ipsum <br>used since the 1500s is reproduced</li>
        </ul>
    </section>
    <article class="container content">
        <h2>Where does it come from?</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        <h2>Where can I get some?</h2>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
    </article>
    <section class="discount">
        <div class="container discount__container">
            <h2 class="discount__title">Discounts</h2>
            <ul class="discount__list">
                {% for discountsItem in discounts %}
                <li class="discount-item {% if discountsItem.flag %} discount-item--true {% endif %} discount__item">
                    <div class="discount-item__header">
                        <h3 class="discount-item__title">{{ discountsItem.title }}</h3>
                        <p class="discount-item__days">{{ discountsItem.days }}</p>
                        <a class="button discount-item__more" href="#">Button</a>
                    </div>
                    <ul class="discount-item__advantages">
                        <li class="discount-item__advantages-item discount-item__advantages-item--price">{{ discountsItem.price }}</li>
                        <li class="discount-item__advantages-item discount-item__advantages-item--download">{{ discountsItem.download }}</li>
                        <li class="discount-item__advantages-item discount-item__advantages-item--speed">{{ discountsItem.speed }}</li>
                    </ul>
                    {{ discountsItem.description|raw }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="faq container">
        <h2 class="faq__title">FAQ’s</h2>
        <ul class="faq__list js-accordion">
            <li class="faq-item faq__item">
                <h3 class="faq-item__title js-accordion__title">Why do we use it?</h3>
                <div class="faq-item__content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
            </li>
            <li class="faq-item faq__item">
                <h3 class="faq-item__title js-accordion__title">Where can I get some?</h3>
                <div class="faq-item__content">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing </p>
                </div>
            </li>
            <li class="faq-item faq__item">
                <h3 class="faq-item__title js-accordion__title">Where does it come from?</h3>
                <div class="faq-item__content">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections</p>
                </div>
            </li>
        </ul>
    </section>
</main>
{% endblock %}